<style>
  .quantity{
    border-radius: .375rem;
    margin-left: 3px;
    border: 1px solid #6c757d;
    width: 2.5rem
  }
  .quantity:focus{
    box-shadow: 0 0 5px 0.05rem #6c757d;
    outline: none;
    border: 1px solid #6c757d;
  }
</style>


<div class="container">
  <div class="head">
    <span>הסל שלי</span>
    <div class="d-flex flex-column align-items-center">
      <span>foto</span>
      <span>ניקוי הסל</span>
    </div>
  </div>

  <div class="d-flex flex-column info">

    <div class="show-info">
      <div>
        <span class="bold">דמי משלוח</span>
        <div>
          <span>בקניה בסכום של עד 750 ₪ - דמי משלוח</span>
          <span class="bold"> 30 ₪</span>
        </div>
        <div>
          <span>בקניה בסכום גבוה מ 750 ₪ - דמי משלוח </span>
          <span class="bold"> 10 ₪</span>
        </div>
        <div>
        </div >
      </div>
      <div>
        <span class="bold">דמי שירות באיסוף עצמי</span>
        <div>
          <span>בקניה בסכום של עד 750 ₪ - דמי שרות</span>
          <span class="bold">15 ₪</span>
        </div>
        <div>
          <span>בקניה בסכום גבוה מ 750 ₪ - דמי שרות </span>
          <span class="bold" >10 ₪</span>
        </div>
      </div>
      <div>
        *דמי המשלוח/שרות הסופיים יחושבו בסיום תהליך הקנייה, בשלב
        הקופה, בהתאם לסכום הסל ובחירת חלון האספקה או איסוף עצמי
      </div>
    </div>

    <h5>סופרמרקט ופארם</h5>
    <div class="d-flex flex-row justify-content-between">
      <div class="d-flex flex-row ">
        <span> דמי משלוח בקניה עד 750</span>
        <span>₪</span>
      </div>
      <div>
        <span>₪</span>
        <span>30</span>
      </div>
    </div>
  </div>

  <div class="d-flex flex-column prd-list">
    <div class="prd" *ngFor="let p of cart1">
      <div class="img">
        <img *ngFor="let img of p.images.slice(0, 1)"
        src="/assets/product-images/{{ img.path }}"
        alt="">
      </div>
      <div class="prd-detile">
        <div>{{p.name}}</div>
        <div>₪{{p.price*p.quantity}}</div>
        <div>{{p.quantity}}</div>
      </div>
    </div>
  </div>
</div>

<div  class="container">
  <div class="card">
    <div class="card-header">
      <h2 >My Cart</h2>
    </div>
    <div class="card-body" *ngFor="let p of cart1">
      <p>Product name: {{p.name}}</p>
      <div class="d-flex">
        <button class="btn btn-outline-secondary" (click)="removeCart1(p)">remove from Cart</button>
        <input   [(ngModel)]="p.quantity"  class="quantity" type="number" id="quantity" name="quantity" min="1" max={{p.stock}}>
      </div>
      <hr>
    </div>
    <p >Total Price: {{cartService.totalPrice()}}$ </p>
  </div>
</div>

