<p>management-add works!</p>
<div *ngIf="prd.categoryId==''" class="card" >
  <!-- <img src="..." class="card-img-top" alt="..."> -->
  <div class="card-header d-flex flex-row">
    <h2>categories</h2>
  </div>
  <button #e (click)="add(c)" *ngFor="let c of categories" class="card-body" id="{{c._id}}">
    <h5 class="card-title">{{c.name}}</h5>
    <!-- <button (click)="GoShopping(c.products)" class="btn btn-primary">Go somewhere</button> -->
  </button>
</div>


<form #f="ngForm"  (ngSubmit)="submit(f)" *ngIf="prd.categoryId!=''">
   <div class="d-flex flex-row" *ngFor="let item of prd | keyvalue">
    <span>{{item.key}}:</span>
    <!-- <div *ngIf="item.value">{{item.value}} </div> -->
    <input required="" [(ngModel)]="item.value" id="{{item.key}}" name="{{item.key}}" type="text" >
  </div>
  <div>
    <input (change)="AddPhotos($event)" style="display: none;" #file ngModel id="image-file" type="file" name="mySingleImage" value="chang" accept="image/*" multiple>>
    <button type="button" (click)="file.click()">images</button>
    <div class="d-flex flex-row" >
      <div class="images" *ngFor="let item of imagesForShow">
        <div (click)="removeImage(item)" class="remove d-flex">x</div>
        <img class="img"  [src]="item" alt="{{item}}">
      </div>
    </div>
  </div>
  <!-- <button [disabled]="!f.valid" type="submit">Add Product</button> -->
  <button  type="submit">Add Product</button>
</form>


