.wrapper {
  position: sticky;
  top: 0;
  background-color: white;

}

.second-header-wrapper {
  display: inline;
}

.searchHeader {
  display: flex;
  flex-direction: row;

}
@media (max-width: 768px) {
  .searchHeader {
    display: flex;
    flex-direction: column;
  }
  .textHeader {
    width: 100% !important;
  }
}

.searchArea {
  display: flex;
  flex-direction: row;
  position: relative;
}

.textHeader {
  margin-right: 1px;
  transition: width 0.4s ease-in-out;
  width: 70%;
  border-color: #6c757d;
}

.textHeader:focus {
  width: 100%;
}
/* .a>info-menu:hover{
background-color: #e7e7e7;
} */

.hasSucces {
  font-family: "Glyphicons Halflings";
  width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 100%;
  right: 0;
}
.hasSucces::after {
  content: "\e013";
  color: green;
}
.info-menu {
  gap: 20px;
  position: relative;
}
.menu-login {
  position: absolute;
  right: 0;
}
.menu-links > ul > li > a:hover {
  background-color: #e7e7e7;
}
.menu-links > *:hover {
  /* background-color: #e7e7e7; */
}
.menu-links > *:focus {
  /* background-color: #e7e7e7; */
}
.form-control:focus {
  box-shadow: 0 0 5px 0.05rem #6c757d;
  border-color: #6c757d;
}

.relative {
  position: relative;
}
.full {
  width: 100%;
  height: 100%;
}
.logo-image {
  width: 186px;
  /* position: absolute; */
  right: 0;
  height: 32px;
}
.up-heder {
  height: 50px;
  /* padding: 10px; */
  position: relative;
  /* animation-name: ; */
}
.list {
  list-style: none;
  height: 32px;
  width: 32px;
}
.list > a {
  border: none;
}
.icon {
  width: 30px;
  /* height: 100%; */
}
.list > li {
}
.cart-list {
  /* width: 50px; */
}
.sum {
  position: absolute;
  right: 0;
  top: 0;
  color: white;
  border-radius: 50%;
  width: 30%;
  height: 30%;
  background-color: red;
}
a {
  text-decoration: none;
}

.center {
  justify-content: center;
  align-items: center;
}
.header-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  align-items: center;
  flex-direction: row-reverse;
}
.header-wrapper > div {
  /* height: 40px; */
  /* border: 1px solid; */
}
.search {
  /* height: 80%; */
  border-radius: 24px;
  box-shadow: 0 0 8px 0 rgb(131 146 184 / 24%);
  background-color: #fff;
  border: 1px solid rgba(89, 134, 178, 0.36);
  padding: 8px;
  /* height: 48px; */
  width: 670px;
  height: 46px;
}
.text {
  border: none;
  outline: none;
  width: 60%;
  direction: rtl;
  margin-left: auto;
}
.info-header {
  gap: 15px;
  size: 1.2rem;
  padding-left: 3px;
  margin: 0;
  background-color: white;
}
.info-header > li {
  font-size: 1rem;
  margin-top: 3px;
  text-align: center;
  align-items: center;
  /* font-size: 1.3em; */
  /* line-height: 1.2; */
}

ul {
  list-style-type: none;
}
a {
  color: #3f5ba0;
  transition: all 0.3s ease-out 0s;
  font-family: opensanshebrew-regular-webfont;
}
a:hover {
  color: #337ab7;
  transition: all 0.3s ease-out 0s;
  border-bottom: 1px solid #2f416e;
}
.last {
  font-weight: bold;
  border-right: 1px solid #3f5ba0;
  padding-right: 12px;
  height: 70%;
}
button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
