<p>product works!</p>

<!-- <ngb-carousel *ngIf="images">
	<ng-template ngbSlide>
		<div class="picsum-img-wrapper">
			<img [src]="images[0]" alt="Random first slide" />
		</div>
		<div class="carousel-caption">
			<h3>First slide label</h3>
			<p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
		</div>
	</ng-template>
</ngb-carousel> -->

<div class="carousel">
  <div class="slide">
    <img src="/assets/product-images/21b07e00-d4c0-40e1-911b-7809f38fcf85.jpg" alt="Image 1">
  </div>
  <div class="slide">
    <img src="/assets/product-images/21b07e00-d4c0-40e1-911b-7809f38fcf85.jpg" alt="Image 2">
  </div>
  <div class="slide">
    <img src="/assets/product-images/21b07e00-d4c0-40e1-911b-7809f38fcf85.jpg" alt="Image 3">
  </div>
  <button class="prev">&#10094;</button>
  <button class="next">&#10095;</button>
</div>

