.relative {
  position: relative;
  /* overflow:visible; */
}

.absolute {
  position: absolute;
  bottom: 0;
  /* transform: translateY(100%) ; */
  border: 1px solid blue;
  margin-top: 300px;
}

.cart {
  transform: translateY(-30px);
}

/* .fix {
  width: 100%;
  position: fixed;
  z-index: 10000000000000000000;
  /* background-color: white; */
/* } */

/* .h {
  height: 18rem;
} */
body {
  position: relative;
  overflow: scroll;
}

/* .cart .prd-list{
    height: 26rem;
    overflow: auto;
  } */
